/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Fonts */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-weight: 700;
}

/* Main css varibles */
:root {
  /* Fonts*/
  --font-default: "Poppins", sans-serif;

  /* Default text color */
  --color-primary: #575859;
  --color-secondary: #050c26;

  /* Default button */
  --btn-color: #fff;
  --btn-bg-color: #3988ff;
  --btn-border-radius: 5px;

  /* Default link color*/
  --color-link: #575859;
  --color-links-hover: #3988ff;

  /* Footer bg color */
  --footer-bg-color: #050c26;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #15c1cc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3988ff;
}

body {
  font-family: var(--font-default), sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.button {
  border: none;
  background-color: var(--btn-bg-color);
  font-family: var(--font-default);
  border-radius: var(--btn-border-radius);
  padding: 10px 20px;
  color: var(--btn-color);
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

/* Main header styles */
.main-header {
  background-color: #fff5f5;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-navigations__items {
  display: flex;
}

.main-navigations__items li {
  list-style: none;
  margin-right: 50px;
  padding-bottom: 5px;
  position: relative;
}

.main-navigations__items li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.37s;
}

.main-navigations__items li:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-links-hover);
}

.main-navigations__items a {
  text-decoration: none;
  color: #575859;
  text-transform: capitalize;
}

.main-navigation__item:hover a {
  color: var(--color-links-hover);
}

.main-header__brand a {
  text-decoration: none;
  color: #050c26;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.main-header__contact {
  padding-right: 40px;
}

/* Hero styles */
.hero {
  background: url("../assets/images/hero-bg.png") center center no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.hero-info {
  padding-right: 150px;
}

.hero .container > div {
  width: 50%;
}

.hero-info .title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: var(--color-secondary);
}

.hero-info .discription {
  color: var(--color-primary);
  line-height: 1.6;
  margin-top: 24px;
}

.hero-info .title span {
  color: #3988ff;
}

.hero-image {
  background-image: url("../assets/images/profile-bg.png"),
    url("../assets/images/Ellipse 11.png");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: left bottom, right bottom;
  padding-bottom: 60px;
  position: relative;
}

.hero .container {
  display: flex;
  align-items: center;
}

.hero-image img {
  width: 90%;
}

.more-info {
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.more-info a {
  text-decoration: none;
}

.video-btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px #ffe6e6;
  background-color: #fff;
  margin-right: 24px;
  position: relative;
  cursor: pointer;
}

.video-btn::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 30px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #1b45da;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.icon-left {
  background-color: #e1f8fa;
  position: absolute;
  top: 100px;
  left: 50px;
}

.icon-right {
  background-color: #fae1e7;
  position: absolute;
  top: 80px;
  right: 0;
}

/* About styles */
.about {
  padding: 100px 0;
  text-align: center;
}

.about .title {
  color: var(--color-secondary);
  font-size: 32px;
}

.about .discription {
  color: var(--color-primary);
  padding: 24px 250px 48px 250px;
  line-height: 1.6;
}

.our-team-image img {
  width: 100%;
}

.about-our__more {
  display: flex;
  align-items: center;
}

.about .skills {
  margin-left: 48px;
  text-align: left;
}

.skills {
  width: 30%;
}

.skills p {
  margin-bottom: 16px;
}

.line-wrapper__bg {
  width: 100%;
  height: 15px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.line-wrapper {
  width: 80%;
  height: 15px;
  border-radius: 15px;
}

.line-wrapper__bg-1{
  background-color: rgba(228, 26, 26, 0.1);
}

.line-wrapper__bg-2{
  background-color: rgba(218, 90, 18, 0.1);
}

.line-wrapper__bg-3{
  background-color: rgba(91, 187, 16, 0.1);
}

.line-wrapper__bg-4{
  background-color: rgba(21, 193, 204, 0.11);
}

.line-wrapper-1{
  background-color: #E41A1A;
}

.line-wrapper-2{
  background-color: #DA5A12;
}

.line-wrapper-3{
  background-color: #5BBB10;
}

.line-wrapper-4{
  background-color: #15C1CC;
}

/* Features styles */
.features {
  text-align: center;
}

.features .discription {
  margin: 24px 0 48px 0;
  padding: 0 150px;
  line-height: 28px;
  color: var(--color-primary);
}

.features-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-item__card {
  width: 262px;
  height: 412px;
  background-color: #fff;
  border: 1px solid rgba(5, 12, 38, 0.05);
  border-radius: 10px;
  color: var(--color-primary);
  padding: 28px 22px;
}

.card-icon__wrapper svg {
  margin-top: 52px;
}

.features-item__card h3 {
  color: var(--color-secondary);
}

.card-icon__wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.features-item__card:nth-child(1) .card-icon__wrapper {
  background-color: rgba(255, 96, 96, 0.1);
}

.features-item__card:nth-child(2) .card-icon__wrapper {
  background-color: rgba(243, 83, 170, 0.1);
}

.features-item__card:nth-child(3) .card-icon__wrapper {
  background-color: rgba(197, 72, 255, 0.1);
}

.features-item__card:nth-child(4) .card-icon__wrapper {
  background-color: rgba(79, 158, 252, 0.1);
}

.features-item__card h3 {
  margin: 30px 0 15px 0;
}

.features-item__card p {
  margin-bottom: 25px;
}

/* Services styles */
.services {
  padding: 100px 0;
}

.services-card__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.services-card__item {
  width: 360px;
  height: 412px;
  border-radius: 10px;
  margin: 30px 0;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(104px);
}

.services-card__item-box {
  background-color: #f3f3f3;
  height: 100%;
  border-radius: 10px;
  padding: 60px 30px;
  text-align: center;
  color: var(--color-primary);
  transition: all 0.37s;
}

.services-card__item-box .icon-wrapper {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  margin: 40px auto 0 auto;
}

.services-card__item-box h4 {
  color: var(--color-secondary);
}

.services-card__item-box p {
  margin-top: 20px;
  font-size: 14px;
}

.services-card__item {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.services .discription {
  width: 50%;
  margin: 24px 0;
  color: var(--color-primary);
}

.services-card__item:hover .services-card__item-box {
  background: linear-gradient(180deg, #d93059 0%, #d95b7a 100%);
  color: #fff;
  transform: translateY(12px);
  /* transition: all 0.37s; */
}

.services-card__item:hover .services-card__item-box h4 {
  color: #fff;
}

.services-card__item:hover .services-card__item-box path {
  stroke: #3988ff;
}

.services-card__item:nth-child(1):hover {
  background-image: url("../assets/images/web_development.png");
}

.services-card__item:nth-child(2):hover {
  background-image: url("../assets/images/product_branding.png");
}

.services-card__item:nth-child(3):hover {
  background-image: url("../assets/images/website_solution.png");
}

.services-card__item:nth-child(4):hover {
  background-image: url("../assets/images/clean_code.png");
}

.services-card__item:nth-child(5):hover {
  background-image: url("../assets/images/digital_marketing.png");
}

.services-card__item:nth-child(6):hover {
  background-image: url("../assets/images/custom_support.png");
}

/* Pricing styles */
.pricing {
  text-align: center;
}

.pricing .intro {
  text-transform: uppercase;
}

.pricing .title {
  margin: 15px 0 30px 0;
  text-transform: uppercase;
  color: var(--color-secondary);
  font-size: 24px;
}

.billing-wrapper {
  display: inline-block;
  margin-bottom: 40px;
  border: 1px solid #1b45da;
  border-radius: 5px;
  padding: 10px;
}

.billing-wrapper span {
  display: inline-block;
  padding: 10px 20px;
  color: var(--color-primary);
}

.billing-wrapper span.active {
  background-color: #3988ff;
  border-radius: 4px;
  color: #fff;
  cursor: grab;
}

.billing-cards__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.billing-card {
  width: 360px;
  box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14);
  border-radius: 10px;
  color: var(--color-primary);
}

.billing-card__header {
  height: 100px;
  box-shadow: 0px 1px 0px rgba(153, 153, 153, 0.14);
  text-transform: uppercase;
  line-height: 100px;
  font-size: 20px;
  color: var(--color-secondary);
}

.billing-card .price-wrapper {
  color: var(--color-secondary);
  line-height: 2;
}

.billing-card .price-wrapper .price {
  font-size: 32px;
}

.price-wrapper .price span {
  font-size: 16px;
}

.price-wrapper {
  padding: 40px 0;
}

.billing-card .card-btn {
  padding: 40px 0;
}

.support-section {
  line-height: 2;
}

.billing-card .card-btn a {
  border: 1px solid #3988ff;
  border-radius: 5px;
  text-decoration: none;
  padding: 15px 30px;
  color: #3988ff;
}

.billing-card:hover {
  background: linear-gradient(180deg, #d9315a 0%, #f3678a 100%);
}

.billing-card:hover a {
  color: #fff;
  background-color: #3988ff;
}

.billing-card:hover > div {
  color: #fff;
}

/* Clients styles */
.clients {
  padding: 100px 0;
  text-align: center;
}

.clients .intro-info {
  margin: 10px 0 40px 0;
}

.clients-card__wrapper {
  display: flex;
  align-items: center;
  padding: 40px 60px;
  text-align: left;
}

.clients-card .discription {
  width: 70%;
}

.client-profile {
  display: flex;
  align-items: center;
}

.client-profile .client-img {
  margin-right: 30px;
}

.discription_wrapper {
  display: flex;
  margin: 0 0 30px 40px;
  position: relative;
}

.discription_wrapper .mark-icon {
  position: absolute;
  top: -20px;
  left: -44px;
}

.mark-icon svg path {
  fill: #f0cfd7;
}

.clients-card__wrapper {
  background: url("../assets/images/clients-bg-image.png") center center
    no-repeat;
  background-size: contain;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

/* Footer styles */
.footer {
  background-color: var(--footer-bg-color);
  color: #fff;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer .container > div {
  width: 20%;
}

.footer hr {
  color: #fff;
}

.footer-container {
  width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.container > div .brand {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 800;
}

.footer .brand-info {
  opacity: 0.6;
  line-height: 1.6;
}

.container > div .header {
  margin-bottom: 30px;
}

.footer .services li,
.footer .support li {
  list-style: none;
  line-height: 2;
}

.footer .email a {
  text-decoration: none;
  color: #fff;
}

.social-networks {
  margin: 10px 0 20px 0;
}

.social-networks a {
  margin-right: 10px;
  color: #fff;
}

.footer-container hr {
  opacity: 0.1;
}

.footer-container p {
  padding: 30px 0;
  color: var(--color-primary);
}

.footer .container > div:first-child {
  width: 25%;
}

.bottom_right_btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #3988ff;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 111;
  opacity: 0;
}

/* Media queries */
@media only screen and (max-width: 576px) {
  .container {
    width: 96%;
  }

  .main-header {
    display: none;
  }

  /* Hero styles */
  .hero .container {
    flex-direction: column;
  }

  .hero .container > div {
    width: 100%;
  }

  .hero-info {
    padding-right: 0;
  }

  .hero-info .title {
    font-size: 24px;
  }

  /* About styles */
  .about .title {
    font-size: 22px;
  }

  .about .discription {
    padding: 24px 0 48px 0;
  }

  .about-our__more {
    flex-direction: column;
  }

  .skills {
    width: 96%;
  }

  .about .skills {
    margin-left: 0;
  }

  /* Features styles */
  .features-items {
    flex-direction: column;
  }

  .features .discription {
    padding: 0;
  }

  .features-item__card {
    margin-bottom: 20px;
  }

  /* Services styles */
  .services .title {
    font-size: 22px;
  }

  .services .discription{
    width: 100%;
  }

  .services-card__item:hover{
    background-size: cover;
  }

  /* Pricing styles */
  .billing-cards__wrapper {
    flex-direction: column;
  }

  .pricing .billing-card {
    margin-bottom: 20px;
  }

  /* Clinets styles*/
  .clients-card__wrapper {
    flex-direction: column;
  }

  /* Footer styles */
  .footer .container {
    flex-direction: column;
  }

  .footer .container > div {
    width: 100%;
  }

  .footer .container > div:first-child {
    width: 100%;
  }

  .footer-container {
    width: 90%;
  }
}