/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Fonts */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-weight: 700;
}

/* Main css varibles */
:root {
  /* Fonts*/
  --font-default: "Poppins", sans-serif;

  /* Default text color */
  --color-primary: #575859;
  --color-secondary: #050c26;

  /* Default button */
  --btn-color: #fff;
  --btn-bg-color: #3988ff;
  --btn-border-radius: 5px;

  /* Default link color*/
  --color-link: #575859;
  --color-links-hover: #3988ff;
}

body {
  font-family: var(--font-default), sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.button {
  border: none;
  background-color: var(--btn-bg-color);
  font-family: var(--font-default);
  border-radius: var(--btn-border-radius);
  padding: 10px 20px;
  color: var(--btn-color);
  cursor: pointer;
  font-weight: 500;
}

/* Main header styles */
.main-header {
  background-color: #fff5f5;
  padding: 20px 0;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-navigations__items {
  display: flex;
}

.main-navigations__items li {
  list-style: none;
  margin-right: 50px;
  padding-bottom: 5px;
  position: relative;
}

.main-navigations__items li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.37s;
}

.main-navigations__items li:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-links-hover);
}

.main-navigations__items a {
  text-decoration: none;
  color: #575859;
  text-transform: capitalize;
}

.main-navigation__item:hover a {
  color: var(--color-links-hover);
}

.main-header__brand a {
  text-decoration: none;
  color: #050c26;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.main-header__contact {
  padding-right: 40px;
}

/* Hero styles */
.hero {
  background: url("../assets/images/hero-bg.png") center center no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.hero-info {
  padding-right: 150px;
}

.hero-info .title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: var(--color-secondary);
}

.hero-info .discription {
  color: var(--color-primary);
  line-height: 1.6;
  margin-top: 24px;
}

.hero-info .title span {
  color: #3988ff;
}

.hero-image {
  background-image: url("../assets/images/profile-bg.png"),
    url("../assets/images/Ellipse 11.png");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: left bottom, right bottom;
  padding-bottom: 60px;
  position: relative;
}

.hero .container {
  display: flex;
  align-items: center;
}

.hero-image img {
  width: 100%;
}

.more-info {
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.more-info a {
  text-decoration: none;
}

.video-btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px #ffe6e6;
  background-color: #fff;
  margin-right: 24px;
  position: relative;
  cursor: pointer;
}

.video-btn::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 30px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #1b45da;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.icon-left {
  background-color: #e1f8fa;
  position: absolute;
  top: 100px;
  left: 50px;
}

.icon-right {
  background-color: #fae1e7;
  position: absolute;
  top: 80px;
  right: 0;
}

/* About styles */
.about {
  padding: 100px 0;
  text-align: center;
}

.about .title {
  color: var(--color-secondary);
  font-size: 32px;
}

.about .discription {
  color: var(--color-primary);
  padding: 24px 0 48px 0;
  line-height: 1.6;
}

.our-team-image img {
  width: 100%;
}

.about-our__more {
  display: flex;
  align-items: center;
}

.about .skills {
  text-align: left;
  margin-left: 48px;
}
.skills p {
  margin-bottom: 16px;
}

.line-wrapper {
  display: inline-block;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 36px;
  position: relative;
}

.line-wrapper__1 {
  width: 422px;
  background-color: #e41a1a;
}

.line-wrapper::after {
  position: absolute;
  top: -36px;
  right: -10px;
}

.percent-value__1::after {
  content: "80%";
  color: #e41a1a;
}

.percent-value__2::after {
  content: "90%";
  color: #da5a12;
}

.percent-value__3::after {
  content: "75%";
  color: #5bbb10;
}

.percent-value__4::after {
  content: "80%";
  color: #15c1cc;
}

.line-wrapper__2 {
  width: 458px;
  background-color: #da5a12;
}

.line-wrapper__3 {
  width: 398px;
  background-color: #5bbb10;
}

.line-wrapper__4 {
  width: 422px;
  background-color: #15c1cc;
}

.line-wrapper__bg {
  display: inline-block;
  width: 488px;
  height: 15px;
  border-radius: 10px;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
}

.line-wrapper__bg-1 {
  background-color: #e41a1a;
}

.line-wrapper__bg-2 {
  background-color: #da5a12;
}

.line-wrapper__bg-3 {
  background-color: #5bbb10;
}

.line-wrapper__bg-4 {
  background-color: #15c1cc;
}

/* Features styles */
.features {
  text-align: center;
}

.features .discription {
  margin: 24px 0 48px 0;
  padding: 0 150px;
  line-height: 28px;
  color: var(--color-primary);
}

.features-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-item__card {
  width: 263px;
  height: 413px;
  background-color: #fff;
  border: 1px solid rgba(5, 12, 38, 0.05);
  border-radius: 10px;
  color: var(--color-primary);
  padding: 28px 22px;
}

.features-item__card h3 {
  color: var(--color-secondary);
}

.card-icon__wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.features-item__card:nth-child(1) .card-icon__wrapper {
  background-color: rgba(255, 96, 96, 0.1);
}

.features-item__card:nth-child(2) .card-icon__wrapper {
  background-color: rgba(243, 83, 170, 0.1);
}

.features-item__card:nth-child(3) .card-icon__wrapper {
  background-color: rgba(197, 72, 255, 0.1);
}

.features-item__card:nth-child(4) .card-icon__wrapper {
  background-color: rgba(79, 158, 252, 0.1);
}
